<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting Stock Data Using a Web Scraping</h1>

Not all stock data is available via API in this assignment; we will use web-scraping to obtain financial data.

Using beautiful soup we will extract historical share data from a web-page.

In [3]:
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
#!mamba install bs4==4.10.0 -y
#!mamba install html5lib==1.1 -y
#!pip install lxml==4.6.4
!pip install plotly==5.3.1

Requirement already satisfied: plotly==5.3.1 in c:\users\alvaro\anaconda3\lib\site-packages (5.3.1)
Requirement already satisfied: six in c:\users\alvaro\anaconda3\lib\site-packages (from plotly==5.3.1) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\alvaro\anaconda3\lib\site-packages (from plotly==5.3.1) (8.0.1)

In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Using Webscraping to Extract Netflix Stock Data

First we must use the `request` library to downlaod the webpage, and extract the text. We will extract Netflix stock data <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html>.

In [5]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

data  = requests.get(url).text

Next we must parse the text into html using `beautiful_soup`

In [7]:
soup = BeautifulSoup(data, 'html5lib')

In [28]:
soup.find("tbody").find('tr').find_all('td')

[<td class="Py(10px) Ta(start) Pend(10px)" data-reactid="52"><span data-reactid="53">Jun 01, 2021</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="54"><span data-reactid="55">504.01</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="56"><span data-reactid="57">536.13</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="58"><span data-reactid="59">482.14</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="60"><span data-reactid="61">528.21</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="62"><span data-reactid="63">528.21</span></td>,
 <td class="Py(10px) Pstart(10px)" data-reactid="64"><span data-reactid="65">78,560,600</span></td>]

Now we can turn the html table into a pandas dataframe

In [12]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Finally we append the data of each row to the table
    netflix_data = netflix_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

We can now print out the dataframe

In [31]:
netflix_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

We can also use the pandas `read_html` function using the url

In [17]:
read_html_pandas_data = pd.read_html(url)
read_html_pandas_data

[                                                 Date  \
 0                                        Jun 01, 2021
 1                                        May 01, 2021
 2                                        Apr 01, 2021
 3                                        Mar 01, 2021
 4                                        Feb 01, 2021
 ..                                                ...
 66                                       Dec 01, 2015
 67                                       Nov 01, 2015
 68                                       Oct 01, 2015
 69                                       Sep 01, 2015
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  Open  \
 0                                              504.01
 1                                              512.65
 2                                              529.93
 3                                              545.57
 4                                              536.79
 ..                                                ...
 66                                             124.47
 67                                             109.20
 68                                             102.91
 69                                             109.35
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  High  \
 0                                              536.13
 1                                              518.95
 2                                              563.56
 3                                              556.99
 4                                              566.65
 ..                                                ...
 66                                             133.27
 67                                             126.60
 68                                             115.83
 69                                             111.24
 70  *Close price adjusted for splits.**Adjusted cl...

                                                   Low  \
 0                                              482.14
 1                                              478.54
 2                                              499.00
 3                                              492.85
 4                                              518.28
 ..                                                ...
 66                                             113.85
 67                                             101.86
 68                                              96.26
 69                                              93.55
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Close*  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                           Adj Close**  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Volume
 0                                            78560600
 1                                            66927600
 2                                           111573300
 3                                            90183900
 4                                            61902300
 ..                                                ...
 66                                          319939200
 67                                          320321800
 68                                          446204400
 69                                          497401200
 70  *Close price adjusted for splits.**Adjusted cl...

 [71 rows x 7 columns]]

Or we can convert the BeautifulSoup object to a string

In [32]:
read_html_pandas_data = pd.read_html(str(soup))
read_html_pandas_data

[                                                 Date  \
 0                                        Jun 01, 2021
 1                                        May 01, 2021
 2                                        Apr 01, 2021
 3                                        Mar 01, 2021
 4                                        Feb 01, 2021
 ..                                                ...
 66                                       Dec 01, 2015
 67                                       Nov 01, 2015
 68                                       Oct 01, 2015
 69                                       Sep 01, 2015
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  Open  \
 0                                              504.01
 1                                              512.65
 2                                              529.93
 3                                              545.57
 4                                              536.79
 ..                                                ...
 66                                             124.47
 67                                             109.20
 68                                             102.91
 69                                             109.35
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  High  \
 0                                              536.13
 1                                              518.95
 2                                              563.56
 3                                              556.99
 4                                              566.65
 ..                                                ...
 66                                             133.27
 67                                             126.60
 68                                             115.83
 69                                             111.24
 70  *Close price adjusted for splits.**Adjusted cl...

                                                   Low  \
 0                                              482.14
 1                                              478.54
 2                                              499.00
 3                                              492.85
 4                                              518.28
 ..                                                ...
 66                                             113.85
 67                                             101.86
 68                                              96.26
 69                                              93.55
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Close*  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                           Adj Close**  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Volume
 0                                            78560600
 1                                            66927600
 2                                           111573300
 3                                            90183900
 4                                            61902300
 ..                                                ...
 66                                          319939200
 67                                          320321800
 68                                          446204400
 69                                          497401200
 70  *Close price adjusted for splits.**Adjusted cl...

 [71 rows x 7 columns]]

Beacause there is only one table on the page, we just take the first table in the list returned

In [16]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

## Using Webscraping to Extract Amazon Stock Data

We use the `requests` library to download the webpage <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html>. Save the text of the response as a variable named `html_data`.

In [59]:
url = ' https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html'
html_data = requests.get(url).text

Then we parse the html data using `beautiful_soup`.

In [60]:
beautiful_soup = BeautifulSoup(html_data, 'html5lib')

We can get the content of the title attribute:

In [61]:
beautiful_soup.title

Using beautiful soup we extract the table with historical share prices and store it into a dataframe named `amazon_data`. The dataframe should have columns Date, Open, High, Low, Close, Adj Close, and Volume. We fill in each variable with the correct data from the list `col`.

In [68]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in beautiful_soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

We can print out the first five rows of the `amazon_data` dataframe you created.

In [69]:
amazon_data.head()

           Date      Open      High       Low     Close       Volume Adj Close
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,528,900  3,206.20
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,556,200  3,256.93
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500  3,168.04
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,226,100  3,036.15
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,899,300  3,148.73

We can get the name of the columns of the dataframe

In [70]:
amazon_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

We can get the `Open` of the last row of the amazon_data dataframe?

In [71]:
amazon_data.shape

(61, 7)

In [72]:
amazon_data.loc[60,'Open']

'656.29'

In [73]:
amazon_data

,Date,Open,High,Low,Close,Volume,Adj Close
0,"Jan 01, 2021","3,270.00","3,363.89","3,086.00","3,206.20","71,528,900","3,206.20"
1,"Dec 01, 2020","3,188.50","3,350.65","3,072.82","3,256.93","77,556,200","3,256.93"
2,"Nov 01, 2020","3,061.74","3,366.80","2,950.12","3,168.04","90,810,500","3,168.04"
3,"Oct 01, 2020","3,208.00","3,496.24","3,019.00","3,036.15","116,226,100","3,036.15"
4,"Sep 01, 2020","3,489.58","3,552.25","2,871.00","3,148.73","115,899,300","3,148.73"
...,...,...,...,...,...,...,...
56,"May 01, 2016",663.92,724.23,656.00,722.79,"90,614,500",722.79
57,"Apr 01, 2016",590.49,669.98,585.25,659.59,"78,464,200",659.59
58,"Mar 01, 2016",556.29,603.24,538.58,593.64,"94,009,500",593.64
59,"Feb 01, 2016",578.15,581.80,474.00,552.52,"124,144,800",552.52
60,"Jan 01, 2016",656.29,657.72,547.18,587.00,"130,200,900",587.00